.input-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.input-section input {
    font-size: 20px;
    padding: 10px;
    border-radius: 50px;
}

.generate-button {
    background-color: green;
    color: #fff;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.generate-button:hover {
    background-color: #fff;
    color: green;
    border: 1px solid green;
}